<div class="container">
  <h4>{{ "contactus.FAQ.Title" | translate }}</h4>
  <hr />
  <h5>{{ "contactus.FAQ.Safety" | translate }}</h5>
  <hr />
  <div class="row">
    <div class="card card-flip h-100">
      <div class="card-front text-white bg-dark">
        <div class="card-body">
          <i class="fa fa-question fa-5x Iconalign"></i>
          <h3 class="card-title">
            {{ "contactus.FAQ.Question.Title" | translate }}
          </h3>
          <p class="card-text">
            {{ "contactus.FAQ.Question.Question0" | translate }}
          </p>
        </div>
      </div>
      <div class="card-back bg-dark">
        <div class="card-body">
          <h3 class="card-title">
            {{ "contactus.FAQ.Answer.Title" | translate }}
          </h3>
          <p class="card-text">
            {{ "contactus.FAQ.Answer.Answer0" | translate }}
          </p>
        </div>
      </div>
    </div>
    <div class="card card-flip h-100">
      <div class="card-front text-white bg-dark">
        <div class="card-body">
          <i class="fa fa-question fa-5x Iconalign"></i>
          <h3 class="card-title">
            {{ "contactus.FAQ.Question.Title" | translate }}
          </h3>
          <p class="card-text">
            {{ "contactus.FAQ.Question.Question1" | translate }}
          </p>
        </div>
      </div>
      <div class="card-back bg-dark">
        <div class="card-body">
          <h3 class="card-title">
            {{ "contactus.FAQ.Answer.Title" | translate }}
          </h3>
          <p class="card-text">
            {{ "contactus.FAQ.Answer.Answer1" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <h5>{{ "contactus.FAQ.Billing" | translate }}</h5>
  <hr />
  <div class="row">
    <div class="card card-flip h-100">
      <div class="card-front text-white bg-dark">
        <div class="card-body">
          <i class="fa fa-question fa-5x Iconalign"></i>
          <h3 class="card-title">
            {{ "contactus.FAQ.Question.Title" | translate }}
          </h3>
          <p class="card-text">
            {{ "contactus.FAQ.Question.Question2" | translate }}
          </p>
        </div>
      </div>
      <div class="card-back bg-dark">
        <div class="card-body">
          <h3 class="card-title">
            {{ "contactus.FAQ.Answer.Title" | translate }}
          </h3>
          <p class="card-text">
            {{ "contactus.FAQ.Answer.Answer2" | translate }}
          </p>
        </div>
      </div>
    </div>
    <div class="card card-flip h-100">
      <div class="card-front text-white bg-dark">
        <div class="card-body">
          <i class="fa fa-question fa-5x Iconalign"></i>
          <h3 class="card-title">
            {{ "contactus.FAQ.Question.Title" | translate }}
          </h3>
          <p class="card-text">
            {{ "contactus.FAQ.Question.Question3" | translate }}
          </p>
        </div>
      </div>
      <div class="card-back bg-dark">
        <div class="card-body">
          <h3 class="card-title">
            {{ "contactus.FAQ.Answer.Title" | translate }}
          </h3>
          <p class="card-text">
            {{ "contactus.FAQ.Answer.Answer3" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
