<div class="HomeBackground">
  <div class="background">
    <img draggable="false" src="{{ HomeAboveFold }}" alt="logo pic" />

    <h1>
      <strong>{{ "home.Content.Title" | translate }}</strong>
    </h1>
    <p>
      {{ "home.Content.Introduction" | translate }}
    </p>
  </div>

  <div class="input-group">
    <div class="input-group-content">
      <select class="custom-select rounded">
        <option selected>Select an Area</option>
        <option value="1">Maadi</option>
        <option value="2">6th of October</option>
        <option value="3">5th Settlement</option>
        <option value="4">5th Settlemdsadsadsadent</option>
      </select>

      <div class="input-group-append">
        <button class="btn btn-dark btn-lg rounded" type="button">
          {{ "home.Content.ButtonContent" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
