<div class="container">
  <h3>{{ "copyrights.Titles.Terms" | translate }}</h3>
  <h3>{{ "copyrights.Titles.Welcome" | translate }}</h3>
  {{ "copyrights.Content.Introduction" | translate }}
</div>
<div class="container">
  <h5>{{ "copyrights.Titles.Cookies" | translate }}</h5>
  {{ "copyrights.Content.Cookies" | translate }}

  <h5>{{ "copyrights.Titles.License" | translate }}</h5>
  {{ "copyrights.Content.License" | translate }}
</div>
<div class="container">
  <h5>{{ "copyrights.Titles.Legality" | translate }}</h5>
  {{ "copyrights.Content.Legality" | translate }}

  <h5>{{ "copyrights.Titles.Hyperlink" | translate }}</h5>
  {{ "copyrights.Content.Hyperlink" | translate }}
</div>
<div class="container">
  <h5>{{ "copyrights.Titles.iFrames" | translate }}</h5>
  {{ "copyrights.Content.iFrames" | translate }}

  <h5>{{ "copyrights.Titles.Liability" | translate }}</h5>
  {{ "copyrights.Content.Liability" | translate }}

  <h5>{{ "copyrights.Titles.Privacy" | translate }}</h5>
  <h5>{{ "copyrights.Titles.Rights" | translate }}</h5>
  {{ "copyrights.Content.Rights" | translate }}

  <h5>{{ "copyrights.Titles.Removal" | translate }}</h5>
  {{ "copyrights.Content.Removal" | translate }}

  <h5>{{ "copyrights.Titles.Disclaimer" | translate }}</h5>
  {{ "copyrights.Content.Disclaimer" | translate }}
</div>
