.container {
    border: 1px;
    border-style: solid;
    border-color: silver;
    color: aliceblue;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 0;
    text-align: left;
    width: max-content;
    background: rgba(72, 255, 0, 0.5);
    border-radius: 25px;
}

ol {
    padding: 0;
}

a {
    color: orange;
}

a:hover {
    color: black;
}
hr{
    border-color: silver;
}