<div class="container">
  <ol>
    <strong>{{ "contactus.Contacts.Title" | translate }}</strong>
    <hr />
    <div>
      <a class="bi bi-envelope" href="#" title="Hulk@Mail.com"></a
      ><span>&nbsp;</span> <a href="#">Hulk@Mail.com</a>
    </div>
    <div>
      <a
        class="bi bi-whatsapp"
        title="Whatsapp"
        href="https://web.whatsapp.com/"
      ></a
      ><span>&nbsp;</span>
      <a title="Whatsapp" href="https://web.whatsapp.com/">01021429782</a>
    </div>
    <div>
      <a
        class="bi bi-youtube"
        title="Youtube"
        href="https://www.youtube.com/"
      ></a
      ><span>&nbsp;</span>
      <a title="Youtube" href="https://www.youtube.com/">{{
        "contactus.Contacts.Youtube" | translate
      }}</a>
    </div>
    <div>
      <a
        class="bi bi-facebook"
        href="https://www.facebook.com/"
        title="Facebook"
      ></a
      ><span>&nbsp;</span>
      <a href="https://www.facebook.com/" title="Facebook">{{
        "contactus.Contacts.Facebook" | translate
      }}</a>
    </div>
    <div>
      <a class="bi bi-twitter" href="https://twitter.com" title="Twitter"></a
      ><span>&nbsp;</span>
      <a href="https://twitter.com" title="Twitter">{{
        "contactus.Contacts.Twitter" | translate
      }}</a>
    </div>
    <div>
      <a
        class="bi bi-instagram"
        title="Instagram"
        href="https://www.instagram.com/"
      ></a
      ><span>&nbsp;</span>
      <a title="Instagram" href="https://www.instagram.com/">{{
        "contactus.Contacts.Instagram" | translate
      }}</a>
    </div>
  </ol>
</div>
